
html {
    width: 100%;
    height: 100vh;
}


@font-face {
    font-family: '210 나무굴림R';
    src: local('fonts/210 나무굴림R'),
    url('fonts/210 나무굴림R.woff2') format('woff2');
}

@font-face {
    font-family: '210 라임R';
    src: local('fonts/210 라임R'),
    url('fonts/210 라임R.woff2') format('woff2');
}

@keyframes rotate {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-40%);
    }
    75% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(-80%);
    }
}

.App-header {
    background-color: #FFF;
    min-height: 100vh;
    /*min-height: 1080px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: blue;
}

/*mobile*/
#result_contents .wrapper {
    /*border: none !important; !*이게 있어야하구나*!*/
    /*border: 1px solid black;*/
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 429px;
    height: 950px;
    /*margin: 3rem 0 3rem 0;*/
    max-width: 500px;
}

.upper-result {
    width: 429px;
    height: 858px;
    background-color: #C5F9FF;
}

.result_title_above {
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    color: black;
    font-size: 70px;
    font-weight: bolder;
}

.result_title_container {
    text-align: center;
    margin: 56px 0px 0px 0px;
    /*height: 250px;*/
    color: black;
    font-size: 30px;
    font-weight: bolder;
    line-height: 50px;
    font-family: '210 라임R', sans-serif;
}

.explanation_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanation_title {
    display: inline-block;
    color: #274D6E;
    font-size: 20px;
    font-weight: bold;
    width: 330px;
    line-height: 1.3em;
}

/*mobile*/
.explanation_text {
    display: inline-block;
    color: #000000;
    font-size: 18px;
    line-height: 1.4em;
    padding: 15px;
    margin-top: 27px;
    background-color: #ffffff;
    width: 300px;
    height: 220px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0px rgba(106, 103, 103, 0.75);
}

@media (min-width: 900px) {
    /*browser*/
    .App-header {
        background-color: #FFF;
        /*min-height: 100vh;*/
        min-height: 1080px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: blue;
    }

    #result_contents .wrapper {
        border: 1px solid black;
        /*border: none !important; !*이게 있어야하구나*!*/
        /*border-radius: 0;*/
        /*height: 130%;*/
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .upper-result {
        height: 908px;
        background-color: #C5F9FF;
        border-radius: 15px 15px 0 0;
    }

    .result_title_container {
        text-align: center;
        margin: 66px 0px 0px 0px;
        /*height: 250px;*/
        color: black;
        font-size: 36px;
        font-weight: bolder;
        line-height: 55px;
        font-family: '210 라임R', sans-serif;
    }

    .explanation_title {
        width: 330px;
        font-size: 20px;
    }

    .explanation_text {
        color: #000000;
        font-size: 17px;
        line-height: 1.5em;
        padding: 15px;
        margin-top: 27px;
        background-color: #ffffff;
        width: 350px;
        height: 200px;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 0px rgba(106, 103, 103, 0.75);

        align-items: center;
        display: flex;
    }

}

.subtitles {
    margin-top: 28px;
    margin-bottom: 40px;
    /*background-color: #7f47dd;*/
    /*width: 323px;*/
    height: 2em;
    /*line-height: 2em;*/
}

.sub_title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #274D6E;
}

.photo {
    margin-top: 30px;
    /*height: 100%;*/

}

#poster {
    width: 400px;
    /*height: 100%;*/
}

.bottom-result {
    height: 218px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 15px 15px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.result-button {
    width: 270px;
    height: 48px;
    border-radius: 15px;
    border: 3px solid #5ECFDC;
    background-color: #79EBF8;
    cursor: pointer;
    color: #ffffff;

    font-family: '210 나무굴림R', sans-serif;
    font-size: 30px;
    margin: 10px 0 10px 0;
}

#sns-buttons {
    width: 270px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: space-around;
}

.sns-button {
    width: 270px;
    height: 48px;
    background-color: #55A7CE;
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: '210 나무굴림R', sans-serif;
    border-radius: 9px;
    /*border: 3px solid #5ECFDC;*/
    border: none;
}

#re-test {
    background-color: #55A7CE;
}

#kakao-link-btn {
    background-color: #FAE100;
}

#url-share {
    background-color: #28c584;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    font-family: '210 나무굴림R', sans-serif;

}

.start {
    font-weight: bold;
    font-size: 40px;
    padding: 10px 0 10px 0;
    text-align: center;
}

.button button:hover {
    /*text-decoration: underline;*/
    background: aliceblue;
    transition: 1s;
}


